// Pipeline parameters
params {
    input_reads = "./raw_fastq/*_R{1,2}.fastq"
    output_dir = "./results"
    ref_genome = "/scratch/Aiptasia/GCA_001417965.1_Aiptasia_genome_1.1_genomic.fna"
    ref_annotation = "/scratch/Aiptasia/GCA_001417965.1_Aiptasia_genome_1.1_genomic.gff"
    threads = 8
}
docker.enabled = true